@import "../../../assets/color-library.scss";


// mission headers
.inactive {
  color: $inactive-text-color;
  margin: 50px 0px 0px 10px;
  text-transform: uppercase;

}

.active {
  color: $active-text-color;
  margin: 0px 0px 25px 10px;
}

.dropdown {
  background-color: $primary-background;
  position: fixed;
  top: 58px;
  left: 660px;
}

.dropdown-button {
  font-size: 10px;
  color: $active-text-color;
  text-decoration: none;
  font-size: large;
}


.col-3 {
  text-align: right;
}

.para {
  background-color: $primary-background;
  border: 1px solid $border-color;
  border-radius: 7.5px;
  word-spacing: 3px;
  padding: 20px;
}

