<div class="container">
  <div class="row align-items-start">
    <div class="col-6">
      <h3 class="inactive">{{task.TaskCategory}} - Mission {{task.MissionID}}</h3>
      <h1 class="active">{{task.TaskName}}</h1>
    </div>
    <div class="col-3">
      <h3 class="inactive">Deadline</h3>
      <h1 class="active">{{task.TaskDeadline|date:'MM/dd/yyyy'}}</h1>
    </div>
    <div class="col-3">
      <h3 class="inactive">Budget</h3>
      <h1 class="active">{{task.TaskBudget|currency}}</h1>
    </div>
  </div>
  <div class="container-xl">
    <div class="col-9">
      <p class="para">{{task.TaskDescription}}</p>
    </div>
    <div class="col-1">

      <div class="dropdown" appDropdown [isOpen]="openDropDown" (clickOutside)="closeDropDown()">
        <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="openDropDown = !openDropDown" >Dropdown button</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" (click)="closeOnClick()">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

    </div>
  </div>
</div>
