<div class="card">
    <div class="card-body">

        <div class="dropdown" dropdown [open]="open" (clickOutside)="closeOnClick()">
            <a href="javascript:void(0)" (click)="open = !open">
                ...
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0)" (click)="onEdit()">Edit</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="onDelete()">Delete</a>
            </div>
        </div>

        <p class="task-category">{{task.TaskCategory}}</p>
        <p class="task-name">{{task.TaskName}}</p>
        <p class="task-description">
          {{
            (task.TaskDescription.length > 50) ?
              (task.TaskDescription | slice:0:50) + ' ...' :
              task.TaskDescription
          }}
        </p>
    </div>
</div>
