@import "../../../assets/color-library.scss";


.card {
    background-color: $active-background;
    border-color: $border-color;
    width: 350px;
    border-radius: 25px;
}

.task-category {
    color: $active-text-color;
}

.task-name {
    color: $active-text-color;
}

.task-description {
    color: $active-text-color;
}

.dropdown {
    float: right;
}

a {
    color: $active-text-color;
    text-decoration: none;
}

.dropdown-item {
    color: $inactive-text-color;
    background-color: $active-background;
}

// $primary-background : #121239 !default;
// $active-background : #060628 !default;
// $active-text-color: #EEF2F5 !default;
// $inactive-text-color: #C9C9C9 !default;
// $border-color: #2B2B66 !default;