<header>
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
    <div class="logo"><img style="width:200px;" src="../../../assets/solaris_main_logo.png"></div>
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">

        <a href="#" class="list-group-item list-group-item-action py-2">
           <i class="fa-solid fa-rocket me-3"></i>
           <span>Mission</span>
        </a>

        <a href="#" class="list-group-item list-group-item-action py-2">
          <i class="fa-solid fa-bullseye me-3"></i>
          <span>Objectives</span>
        </a>

        <a href="#" class="list-group-item list-group-item-action py-2">
          <i class="fa-solid fa-list-check me-3"></i>
          <span>My Tasks</span>
          </a>

        <a href="#" class="list-group-item list-group-item-action py-2">
          <i class="fa-solid fa-screwdriver-wrench me-3"></i>
          <span>Settings</span>
        </a>

        <a href="#" class="list-group-item list-group-item-action py-2">
          <i class="fa-solid fa-right-from-bracket me-3"></i>
          <span>Log Out</span>
        </a>

      </div>
    </div>
  </nav>
</header>


