
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sicc-primary: mat.define-palette(mat.$indigo-palette);
$sicc-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sicc-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sicc-theme: mat.define-light-theme((
  color: (
    primary: $sicc-primary,
    accent: $sicc-accent,
    warn: $sicc-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sicc-theme);

/* You can add global styles to this file, and also import other style files */
@import "./assets/color-library.scss";
body {
  background-color: $primary-background;

}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  border: 1px solid #2B2B66;
}

.list-group {
  --bs-list-group-bg: $primary-background !important;
  --bs-list-group-border-color: #2B2B66 !important;
  --bs-list-group-color: #C9C9C9 !important;
  --bs-list-group-active-color: red !important;
}

.list-group-item-action:hover {
  background-color: #060628 !important;
  color: #EEF2F5 !important;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo {
  margin: 20px 0px 0px 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
