/* You can add global styles to this file, and also import other style files */
@import "./assets/color-library.scss";
body {
  background-color: $primary-background;

}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  border: 1px solid #2B2B66;
}

.list-group-item {
  border-width: 0 0 !important;
}
.list-group {
  --bs-list-group-bg: $primary-background !important;
  --bs-list-group-border-color: #2B2B66 !important;
  --bs-list-group-color: #C9C9C9 !important;
  --bs-list-group-active-color: #EEF2F5 !important;
}

.list-group-item-action:hover {
  background-color: #060628 !important;
  color: #EEF2F5 !important;
  border: 1px solid #2B2B66;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo {
  margin: 20px 0px 0px 20px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
